<div class="container text-center">
  <h1>Meet the team</h1>
  <%= cl_image_tag "buz0kgzepwm0wjeotind" %>
  <ul>
    <% @members.each do |member| %>
    <li>Member: <%= member %></li>
    <% end %>
  </ul>
</div>
